# Ignore Gradle project-specific cache directory
/.gradle

# Ignore Gradle build output directory
/build

#IntelliJ
.idea
*.iml
/out/

#Eclipse
/.settings/
/.classpath
/.project
/bin/

# Application logs
/logs/

# MacOS metadata
.DS_Store
